<section data-ng-controller="HomeController">
  <div class="row">
    <p class="lead">&#160;</p>
  </div>
  <div class="jumbotron text-center background='white'">
    <div class="row" data-ng-hide="authentication.user">
    <img class="img-responsive center-block" width="600" height="250" src="modules/core/img/brand/timeStable-Logo.png" alt="timeStable logo">
    <h2>
      The smart way to create and manage school timetables
    </h2><br>
    <!--<small> Powered by: <span> <a href="http://optaplanner.org">
      <img class="img-responsive center-block" width="100" height="20" src="modules/core/img/brand/optaPlannerLogo.png"/>
    </a></span></small>-->

      <!-- Adding a row and column to reduce the embed video size -->
      <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="800" height="450" src="https://www.youtube.com/embed/f4jIWbQpjdE" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
        <div class="col-md-2"></div>
      </div>

      <br>
      <p class="lead">Getting started? Click to watch the video.</p>
      <p>
        <a class="btn btn-primary btn-lg" href="/#!/signin">Login</a>
      </p>
    </div>
    <div class="container" data-ng-show="authentication.user">
      <div class="row">
        <h2> What would you like to do today, {{authentication.user.firstName}}?</h2>
        <p class="lead">&#160;</p>
      </div>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-3">
          <a href="#!/specs">
            <img class="img-responsive img-rounded center-block" height="200" width="200" src="modules/core/img/brand/Create-icon.png">
            <p class="lead">Create timetable </p>
          </a>
        </div>
        <div class="col-md-3">
          <a href="#!/timetables">
            <img class="img-responsive img-rounded center-block" height="200" width="200" src="modules/core/img/brand/Edit-icon.png">
            <p class="lead">Edit timetable </p>
          </a>
        </div>
        <div class="col-md-3"></div>
      </div>
      <br><br>
      <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" width="800" height="450" src="https://www.youtube.com/embed/f4jIWbQpjdE" frameborder="0" allowfullscreen></iframe>
          </div>
          <p class="lead"> Need help? Click to watch the video.</p>
        </div>
        <div class="col-md-3"></div>
      </div>

    </div>
    <br>
  </div>
</section>
