.content {
  margin : 50px 0;
}

.undecorated-link:hover {
  text-decoration : none;
}

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display : none !important;
}

.ng-invalid.ng-dirty {
  border-color : #FA787E;
}

.ng-valid.ng-dirty {
  border-color : #78FA89;
}

footer {
  position         : fixed;
  left             : 0;
  right            : 0;
  bottom           : 0;
  margin           : 0 10px;
  padding          : 10px 0;
  border-top       : solid 0.1em #ccc;
  color            : #aaa;
  background-color : #fff;
}

.copyright {
  background-color : #fff;
  box-shadow       : 5px 0 10px rgba(255, 255, 255, .5);
  position         : relative;
  padding          : 2px 20px;
  z-index          : 10;
}

.version {
  position : absolute;
  right    : 15px;
  top      : 10px;
  z-index  : 5;
}
