<section data-ng-controller="SubjectsController" data-ng-init="findOne()">
	<div class="page-header">
    <h1 data-ng-bind="subject.code"></h1>
	</div>
  <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img class="img-responsive img-rounded" src="modules/core/img/icons/Subjects.png">
      </div>
      <div class="col-md-4">
        <label> Name </label>
        <p class="form-control-static"> {{subject.name}}</p>
        <small>
       		<em class="text-muted">
       			Posted on
       			<span data-ng-bind="subject.created | date:'mediumDate'"></span>
       			by
       			<span data-ng-bind="subject.user.displayName"></span>
       		</em>
       	</small>
      </div>
      <div class="col-md-6">
        <div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == subject.user._id))">
       		<a class="btn btn-success" href="/#!/subjects/{{subject._id}}/edit">
       			<i class="glyphicon glyphicon-edit"></i>&#160;Edit
       		</a>
       		<a class="btn btn-warning" data-ng-click="remove();">
       			<i class="glyphicon glyphicon-trash"></i>&#160;Delete
       		</a>
       	</div>
      </div>
    </div>
  </div>
</section>
