<section data-ng-controller="SchoolsController" data-ng-init="find()">
  <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
  <div class="page-header">
    <h1>Your Schools</h1>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img class="img-responsive img-rounded" src="modules/core/img/icons/School.png">
      </div>
      <div class="col-md-10">
        <table class="table table-striped">
          <tr data-ng-repeat="school in schools" >
            <td>
              <a data-ng-href="#!/schools/{{school._id}}"> {{school.name}} - {{school.code}} </a>
            </td>
          </tr>
        </table>
        <!--<div class="list-group">
          <a data-ng-repeat="school in schools" data-ng-href="#!/schools/{{school._id}}" class="list-group-item">
            <h4 class="list-group-item-heading"> {{school.name + '-' + school.code}} </h4>
          </a>
        </div>-->
        <div class="alert alert-warning text-center" data-ng-hide="!schools.$resolved || schools.length">
          No Schools yet, why don't you <a href="/#!/schools/create">create one</a>?
        </div>
      </div>
    </div>
  </div>
</section>
