<section data-ng-controller="TeachersController" data-ng-init="find()">
    <div class="page-header">
        <h1>Teachers</h1>
    </div>
  <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
    <div class="list-group">
        <a data-ng-repeat="teacher in teachers" data-ng-href="#!/teachers/{{teacher._id}}" class="list-group-item">
          <h4 class="list-group-item-heading" data-ng-bind="teacher.code"></h4>
                <p class="list-group-item-text">
                  <span>Name </span>
                  <span>{{teacher.firstName + " " + teacher.lastName}}</span>
                </p>
                <p class="list-group-item-text">
                  <span>Email ID: </span>
                  <span data-ng-bind="teacher.email"></span>
                </p>
                <p class="list-group-item-text">
                  <span>Details: </span>
                  <span data-ng-bind="teacher.details"></span>
                </p>
        </a>
    </div>
    <div class="alert alert-warning text-center" data-ng-hide="!teachers.$resolved || teachers.length">
    	No Teachers yet, why don't you <a href="/#!/teachers/create">create one</a>?
    </div>
</section>
