<section data-ng-controller="TimetablesController" data-ng-init="findOne()">
  <div class="page-header">
    <h2> Edit timetable for {{ timetableForCurriculum.timetable.curriculumCode }}</h2>
  </div>
  <div class="container-fluid">
    <div class="row" data-ng-if="history.length">
      <h4>Change History</h4>
      <div class="col-sm-12 history-viewer text-muted small">
        <span data-ng-repeat="log in history track by $index">{{formatAllocationHistory(log)}}</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-9">
        <div class="clearfix">
          <div class="form-group">
            <a class="btn btn-group-sm btn-default" ng-href="#!/timetables/{{timetableForCurriculum.timetable.curriculumReference}}">
              <i class="glyphicon glyphicon-backward"></i> &#160;Back
            </a>
            <a data-ng-disabled="!undoStack.length" ng-class="{'btn-danger' : undoStack.length}" class="btn btn-group-sm btn-default" ng-click="undo()">
              <i class="glyphicon glyphicon-share-alt glyphicon-flipped"></i> &#160;Undo
            </a>
            <a data-ng-disabled="!redoStack.length" ng-class="{'btn-success' : redoStack.length}" class="btn btn-group-sm btn-default" ng-click="redo()">
              <i class="glyphicon glyphicon-share-alt"></i> &#160;Redo
            </a>
            <a class="btn btn-group-sm btn-info" ng-click="finish()">
              <i class="glyphicon glyphicon-check"></i> &#160;Finish
            </a>
          </div>
        </div>
        <table class="timetable table table-bordered">
          <thead>
            <tr>
              <th>Day</th>
              <th data-ng-repeat="period in timetableForCurriculum.timetable.days[0].periods">{{ "Period-" + (period.index +1)}}</th>
            </tr>
          </thead>
          <tr data-ng-repeat="day in timetableForCurriculum.timetable.days">
            <td><strong>{{day.dayOfWeek}}</strong></td>
            <td data-ng-repeat="period in day.periods" data-ng-drop="true" class="period"
                data-ng-mouseenter="highlight(period.clash, day.dayIndex, period.index)"
                data-ng-mouseleave="unHighlight(period.clash, day.dayIndex, period.index)"
                data-ng-drop-success="onDropComplete($data, $event, day.dayIndex, period.index, false)"
                ng-class="{'bg-warning text-warning' : period.clash, 'bg-danger text-danger' : hasHighlight(period.clash, day.dayIndex, period.index)}"
                ng-init="findClashes(period.clash, day.dayIndex, period.index)">
              <!-- Conditional Links: http://stackoverflow.com/a/16579695/218882 -->
              <div data-ng-switch="period.clash">
                <a data-ng-href="{{getClashLink(day.dayIndex, period.index)}}" ng-switch-when="true">{{period.subject}}</a>
                <span ng-switch-when="false">{{period.subject}}</span>
              </div>
              <span ng-show="period.subject" ng-click="removeAllocation(day.dayIndex, period.index)"
                    class="glyphicon glyphicon-remove-circle delete-allocation"></span>
            </td>
          </tr>
        </table>
        <div class="row">
          <div class="col-sm-7" data-ng-if="clashes.length">
            <h4> Clashes </h4>
            <div class="list-group">
              <a data-ng-repeat="clash in clashes" data-ng-href="{{getClashLink(clash.days.dayIndex, clash.days.periods.index)}}"
                 class="list-group-item" ng-class="{'list-group-item-danger': clash.highlight}"
                 data-ng-mouseenter="highlight(true, clash.days.dayIndex, clash.days.periods.index)"
                 data-ng-mouseleave="unHighlight(true, clash.days.dayIndex, clash.days.periods.index)">
                <span class="list-group-item-heading">
                  {{formatClash(clash)}}
                </span>
              </a>
            </div>
          </div>
            <div class="col-sm-5" data-ng-if="stats">
                <h4>
                    Stats
                </h4>
                <h5>Total allocations in a week for {{stats.teacher.code}}
                    <span class="label label-info">{{stats.teacher.totalAllocationCount}}</span></h5>
                <h5>allocations in a week for {{stats.teacher.code}} in this class
                    <span class="label label-info">{{stats.teacher.classAllocationCount}}</span></h5>
                <h5>Number of {{stats.subject.code}} periods in a week
                    <span class="label label-info">{{stats.subject.allocationCount}}</span></h5>
            </div>
        </div>
      </div>
      <div class="col-md-3">
        <div class="panel panel-info subjects-container">
          <div class="panel-heading">
            <h3 class="panel-title">Subjects</h3>
          </div>
          <div class="row panel-body">
            <!-- Looked at: http://plnkr.co/edit/AMWLvB045UJmNamp8vdz?p=preview -->
            <ul data-ng-repeat="column in subjectColumns" class="list-group subjects"
                data-ng-class="subjectColumns.length === 1 ? 'col-md-12' : 'col-md-6'">
              <li data-ng-repeat="course in timetableForCurriculum.courses | slice:column.start:column.end"
                  data-ng-drag="true" data-ng-drag-data="course"
                  data-ng-class="{'highlight' : course.highlight, 'clash-highlight' : course.clashHighlight}"
                  data-ng-drag-scroll data-allow-transform="true"
                  data-ng-click="collectStats(course)"
                  class="list-group-item">
                {{ course.code }} - {{ course._teacher.code }}
              </li>
            </ul>
          </div>
          <div class="panel-footer">
            <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              Drag a subject to the desired cell to allocate</p>
            <p><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span>
              Click on a subject to view Stats for the course</p>
          </div>
        </div>
      </div>
    </div>
    <div data-ng-show="error" class="text-danger">
      <strong data-ng-bind="error"></strong>
    </div>
  </div>
</section>
