<section data-ng-controller="TimetablesController" data-ng-init="list()">
  <div class="page-header">
    <h1>Your Timetables</h1>
  </div>
  <div ncy-breadcrumb></div>
  <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img class="img-responsive img-rounded" src="modules/core/img/icons/Timetable.png">
      </div>
      <div class="col-md-6">
        <h3>View and Edit Timetables</h3>
        <table class="table table-striped">
          <tr data-ng-repeat="timetable in allTimetables">
            <td>
              <a data-ng-href="#!/timetables/{{timetable._id}}" > {{timetable.name}} </a>
            </td>
          </tr>
        </table>

        <div class="alert alert-warning text-center" data-ng-if="allTimetables.$resolved && !allTimetables.length">
          No timetables available yet, Generate one using the Specifications module.
        </div>
      </div>
      <div class="col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="800" height="450" src="https://www.youtube.com/embed/f4jIWbQpjdE" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="lead">Need help? Click to watch the video.</p>
      </div>
    </div>
  </div>
</section>
