<section data-ng-controller="TimetableController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="curriculumSelected.code"></h1>
  </div>
    <div class="clearfix">
        <div class="pull-right">
            <a class="btn btn-primary" href="/#!/timetables/edit/{{curriculumSelected.id}}">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </div>
  <table class="table">
    <thead>
      <tr>
        <th>Day</th>
          <!--<th> {{ JSON.stringify( timetable[0].timetable[0].periods[0].subject) }} </th>-->
        <!-- Skip items from ng-repeat: http://stackoverflow.com/a/19784026/218882 -->
        <th data-ng-repeat="period in timetable[0].periods">{{ "Period-" + period.index}}</th>
      </tr>
    </thead>
    <tr data-ng-repeat="day in timetable">
      <td>{{day.dayOfWeek}}</td>
      <!-- Bind to all properties in an object: http://stackoverflow.com/a/19012907/218882 -->
      <td data-ng-repeat="period in day.periods" data-ng-class="key">{{period.subject}}</td>
    </tr>
  </table>
</section>
