<section data-ng-controller="TimetablesController" data-ng-init="findOne()">
  <div class="page-header">
    <h1 data-ng-bind="curriculum.code"></h1>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th>Day</th>
        <!-- Skip items from ng-repeat: http://stackoverflow.com/a/19784026/218882 -->
        <th data-ng-repeat="(key, value) in timetable[0]" data-ng-if="key.indexOf('day') == -1">{{key}}</th>
      </tr>
    </thead>
    <tr data-ng-repeat="day in timetable">
      <td>{{day.dayOfWeek}}</td>
      <!-- Bind to all properties in an object: http://stackoverflow.com/a/19012907/218882 -->
      <td data-ng-repeat="(key, value) in day" data-ng-if="key.indexOf('day') == -1" data-ng-class="key">{{value}}</td>
    </tr>
  </table>
</section>
