.glyphicon-flipped {
  transform : scaleX(-1);
}

.period {
  position   : relative;
  transition : all .2s ease-in-out;
}

.period a {
  display : block;
}

.period:hover, .period.drag-enter, .period.bg-danger, .period.period-highlight {
  z-index : 15;
}

.period:hover, .period.period-highlight {
  transform : scale(1.1);
}

.period.drag-enter, .period.bg-danger {
  transform : scale(1.2);
}

.period.drag-enter {
  border     : 0.1em dotted #00ff00 !important;
  background : #aaffaa !important;
}

.period.period-highlight {
  background : rgb(163, 200, 159) !important;
  background : rgba(163, 200, 159, 0.64) !important;
}

.delete-allocation {
  display    : none;
  position   : absolute;
  top        : 5px;
  right      : 5px;
  cursor     : pointer;
  transition : all .2s ease-in-out;
}

.period:hover .delete-allocation {
  display : block;
}

.delete-allocation:hover {
  transform : scale(1.5);
}

.subjects-container .panel-body {
  padding : 6px 15px;
}

.subjects {
  padding    : 5px !important;
  box-shadow : none !important;
}

.subjects li {
  font-size  : smaller;
  transition : all .2s ease-in-out;
}

.subjects li:hover, .subjects li.dragging {
  cursor : pointer;
}

.subjects li:hover, .subjects li.highlight {
  transform   : scale(1.1);
  z-index     : 10;
  font-weight : bold;
}

.subjects li.highlight {
  background : rgb(200, 200, 200) !important;
  background : rgba(200, 200, 200, 0.2) !important;
}

.subjects li:hover {
  background : rgb(100, 100, 225) !important;
  background : rgba(100, 100, 225, 0.2) !important;
}

.subjects li.clash-highlight {
  transform  : scale(1.2);
  background : rgb(220, 100, 100) !important;
  background : rgba(220, 100, 100, 0.2) !important;
}

.subjects li.dragging {
  transition  : none;
  font-weight : bold;
  color       : #999;
  border      : 0.1em dotted #0000ff !important;
  background  : rgb(255, 255, 255) !important;
  background  : rgba(100, 100, 255, 0.1) !important;
}

.history-viewer {
  min-height : 60px;
  max-height : 60px;
  overflow   : auto;
  margin     : 10px 0;
  border     : 0.1em dotted #999999;
}

.history-viewer > span {
  white-space : nowrap !important;
  font-family : Menlo, Monaco, Consolas, "Courier New", monospace;
  line-height : 1.0;
  display     : block;
  padding     : 2px 5px;
}
