<section data-ng-controller="SpecsController" data-ng-init="initAssignments()">
  <div class="page-header">
    <h1>Work with your Plan</h1>
  </div>

  <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
  <div class="container">
    <div class="row">
      <div class="col-md-2">
        <img class="img-responsive img-rounded" src="modules/core/img/icons/Plan.png">
      </div>
      <div class="col-md-8">
        <nav>
          <ul class="pagination">
            <li ng-click="backTo('edit')"><a href="#">Define</a></li>
            <li ng-click="backTo('addSections')"><a href="#">Select Classes</a></li>
            <li ng-click="backTo('assignSubjects')"><a href="#">Select Subjects</a></li>
            <li class="active"><a href="#">Assign Teachers</a></li>
            <li class="disabled"><a href="#">Submit</a></li>
          </ul>
        </nav>
        <label>Assign Teachers to Subjects</label>
        <div class="form-group">
          <label class="control-label" for="assignmentFilter">Filter: </label>
          <div class="controls">
            <input type="text" data-ng-model="assignmentFilter" id="assignmentFilter" class="form-control" placeholder="Enter Section, Subject or Teacher Code to Filter...">
          </div>
        </div>
        <table class="table table-striped table-condensed">
          <tr>
            <th>Section</th>
            <th>Subject</th>
            <th>Teacher</th>
            <th>Number of Periods in a week</th>
          </tr>
          <tr ng-repeat="assignment in assignments | filter:assignmentFilter | orderBy: 'section'">
            <td>{{ assignment.section }}</td>
            <td>{{ assignment.subjectCode }}</td>
            <td>
              <form class="form-inline">
                <div class="form-group">
                  <input class="form-control" autocomplete="off" ng-model="assignment.teacherCode" placeholder="Search..." type="text"
                         typeahead="teacher for teacher in allTeachers | filter:$viewValue" required/>
                </div>
                <div class="form-group">
                  <select class="form-control" ng-model="assignment.teacherCode" ng-options="teacher for teacher in allTeachers">
                    <option value="">Select</option>
                  </select>
                </div>
              </form>
            </td>
            <td><input class="form-control" type="number" ng-model="assignment.numberOfClassesInAWeek" required/></td>
          </tr>
        </table>


        <div class="form-group">
          <a class="btn btn-group-sm btn-default" ng-click="backTo('assignSubjects')">
            <i class="glyphicon glyphicon-backward"></i> &#160;Back
          </a>
          <a class="btn btn-group-sm btn-default" ng-click="assignTeachersAndProceed()">
            <i class="glyphicon glyphicon-forward"></i> &#160;Next
          </a>
        </div>
      </div>
      <div class="col-md-2">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" width="800" height="450" src="https://www.youtube.com/embed/f4jIWbQpjdE" frameborder="0" allowfullscreen></iframe>
        </div>
        <p class="lead">Need help? Click to watch the video.</p>
      </div>
    </div>
  </div>
</section>
