<section data-ng-controller="SpecsController" data-ng-init="initSubjects()">
  <div class="page-header">
    <h1>Work with your Plan</h1>
  </div>
  <nav>
    <ul class="pagination">
      <li ng-click="backTo('edit')"><a href="#">Define</a></li>
      <li ng-click="backTo('addSections')"><a href="#">Select Classes</a></li>
      <li class="active"><a href="#">Select Subjects</a></li>
      <li class="disabled"><a href="#">Assign Teachers</a></li>
      <li class="disabled"><a href="#">Submit</a></li>
    </ul>
  </nav>

  <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
  <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">Select Subjects for each Class below</h4></div>
      <div class="panel-body">
        <accordion close-others="sectionsAccordionOneAtATime">
          <accordion-group ng-repeat="section in assignedSections" heading="{{section.name}}">
            <div multi-select input-model="section.allSubjects" output-model="section.selectedSubjects" button-label="name" item-label="name"
                 tick-property="ticked">
            </div>
          </accordion-group>
        </accordion>
      </div>
    </div>
  <div class="form-group">
    <a class="btn btn-group-sm btn-default" ng-click="backTo('addSections')">
      <i class="glyphicon glyphicon-backward"></i> &#160;Back
    </a>
    <a class="btn btn-group-sm btn-default" ng-click="saveSubjectsAndProceed()">
      <i class="glyphicon glyphicon-forward"></i> &#160;Next
    </a>
  </div>
</section>
