<section data-ng-controller="SpecsController" data-ng-init="findOne()">
  <div class="page-header">
    <h1>Edit Specification for Timetable</h1>
  </div>
  <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
  <div class="col-md-12">
    <form class="form-horizontal" data-ng-submit="update()" novalidate>
      <fieldset>
        <div class="form-group">
          <label class="control-label" for="name">Name (eg. Vidyodaya Academic Year 2015-2016)</label>
          <div class="controls">
            <input type="text" data-ng-model="spec.name" id="name" class="form-control" placeholder="Name" required>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="numberOfWorkingDaysInAWeek">Number of Working Days in a Week</label>
          <div class="controls">
            <input type="text" data-ng-model="numberOfWorkingDaysInAWeek" id="numberOfWorkingDaysInAWeek" class="form-control" placeholder="(Default 5)">
          </div>
        </div>
        <div class="form-group">
          <label class="control-label" for="numberOfPeriodsInADay">Number of Periods in a Day</label>
          <div class="controls">
            <input type="text" data-ng-model="numberOfPeriodsInADay" id="numberOfPeriodsInADay" class="form-control" placeholder="(Default 8)">
          </div>
        </div>
        <!--<div class="form-group">-->
          <!--<label class="control-label" for="SpecificationsFile">Timetable Specifications File (Optional)</label>-->
          <!--<div class="controls">-->
            <!--<input type="file" id="SpecificationsFile" class="form-control" ngf-select ngf-change="upload($files)" required>-->
          <!--</div>-->
        <!--</div>-->
        <div class="form-group">
          <input type="submit" value="Update" class="btn btn-default"> 
          <!--ng-disabled="csvFileUploaded===false">-->
          <!--<button ng-click="update()" class="btn btn-primary" ng-disabled="csvFileUploaded===true">Next</button>-->
        </div>
        <div data-ng-show="error" class="text-danger">
          <strong data-ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
