<section data-ng-controller="SpecsController" data-ng-init="find()">
  <div class="page-header">
    <h1>Work with your Plans</h1>
  </div>
  <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
  <div class="list-group">
    <a data-ng-repeat="spec in specs" data-ng-href="#!/specs/{{spec._id}}" class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span data-ng-bind="spec.created | date:'medium'"></span>
        by
        <span data-ng-bind="spec.user.displayName"></span>
      </small>
      <h4 class="list-group-item-heading" data-ng-bind="spec.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-hide="!specs.$resolved || specs.length">
    No Plans yet, why don't you <a href="/#!/specs/create">create one</a>?
  </div>
</section>
