<section data-ng-controller="SpecsController" data-ng-init="initAssignments()">
  <div class="page-header">
    <h1>Work with your Plan</h1>
  </div>
  <nav>
    <ul class="pagination">
      <li ng-click="backTo('edit')"><a href="#">Define</a></li>
      <li ng-click="backTo('addSections')"><a href="#">Select Classes</a></li>
      <li ng-click="backTo('assignSubjects')"><a href="#">Select Subjects</a></li>
      <li ng-click="backTo('assignTeachers')"><a href="#">Assign Teachers</a></li>
      <li class="active"><a href="#">Submit</a></li>
    </ul>
  </nav>

  <span us-spinner="{radius:30, width:8, length: 16}" spinner-on="showSpinner"></span>
  <div class="panel panel-default">
      <div class="panel-heading"><h4 class="panel-title">Review Assignments</h4></div>
      <div class="panel-body">
        <div class="form-group">
              <label class="control-label" for="assignmentFilter">Filter: </label>
              <div class="controls">
                <input type="text" data-ng-model="assignmentFilter" id="assignmentFilter" class="form-control" placeholder="Enter Section, Subject or Teacher Code to Filter...">
              </div>
            </div>
            <table class="table table-bordered">
              <tr>
                <th>Section</th>
                <th>Subject</th>
                <th>Teacher</th>
                <th>Number of Periods in a week</th>
              </tr>
              <tr ng-repeat="assignment in assignments | filter:assignmentFilter | orderBy: 'section'">
                <td>{{ assignment.section }}</td>
                <td>{{ assignment.subjectCode }}</td>
                <td>{{assignment.teacherCode}}</td>
                <td>{{assignment.numberOfClassesInAWeek}}</td>
              </tr>
            </table>
      </div>
    </div>

  <div class="form-group">
    <a class="btn btn-group-sm btn-warning" ng-click="backTo('assignTeachers')">
      <i class="glyphicon glyphicon-backward"></i> &#160;Back
    </a>
    <a class="btn btn-group-sm btn-success" ng-click="submitSpec()">Finish
    </a>
  </div>
</section>
