<section data-ng-controller="SpecsController" data-ng-init="findOne()">
	<div class="page-header">
		<h1 data-ng-bind="spec.name"></h1>
	</div>
	<div class="pull-right" data-ng-show="((authentication.user) && (authentication.user._id == spec.user._id))">
		<a class="btn btn-primary" href="/#!/specs/{{spec._id}}/edit">
			<i class="glyphicon glyphicon-edit"></i>
		</a>
		<a class="btn btn-primary" data-ng-click="remove();">
			<i class="glyphicon glyphicon-trash"></i>
		</a>
	</div>
	<small>
		<em class="text-muted">
			Posted on
			<span data-ng-bind="spec.created | date:'mediumDate'"></span>
			by
			<span data-ng-bind="spec.user.displayName"></span>
		</em>
    <h4 class="list-group-item-heading"> Original file: {{spec.origFile}}</h4>
    <h4 class="list-group-item-heading"> Uploaded file: {{spec.specFile}}</h4>
    <h4 class="list-group-item-heading"> {{spec.state}}</h4>
	</small>

</section>
